<mat-card *ngIf="!loading" color="primary">
    <mat-card-header>
        <mat-card-title>{{competition.name}}</mat-card-title>
        <mat-card-subtitle>{{competition.area?.name}}</mat-card-subtitle>
        <div mat-card-avatar class="header-image"
            [ngStyle]="{'background-image': 'url(assets/football.jpg)'}">
        </div>
    </mat-card-header>
    <mat-card-content>
        <p>
            <span class="mat-body-strong">Code:</span>
            {{ competition.code }}
        </p>
        <p>
            <span class="mat-body-strong">Plan:</span>
            {{ competition.plan }}
        </p>
        <h3 class="mat-h3 mat-body-strong">Current Season</h3>
        <p>
            <span class="mat-body-strong">Start Date:</span>
            {{ competition.currentSeason?.startDate }}
        </p>
        <p>
            <span class="mat-body-strong">End Date:</span>
            {{ competition.currentSeason?.endDate }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button color="primary" (click)="showTeamns()">View Seasons</button>
    </mat-card-actions>
</mat-card>

<mat-card [class.hidden]="loading">
    <mat-card-header>
        <mat-card-title>Teams</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource"
            matSort matSortActive="winner" matSortDirection="desc"
            class="selectable mat-elevation-z8">
            <ng-container matColumnDef="crestUrl">
                <th mat-header-cell *matHeaderCellDef class="header-shield">Shield</th>
                <td mat-cell *matCellDef="let team">
                    <img [src]="team.crestUrl" [title]="team.shortName" alt="" height="35px">
                </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let team">
                    {{ team.name }}
                </td>
            </ng-container>
            <ng-container matColumnDef="clubColors">
                <th mat-header-cell *matHeaderCellDef>Club Colors</th>
                <td mat-cell *matCellDef="let team">
                    {{ team.clubColors }}
                </td>
            </ng-container>
            <ng-container matColumnDef="venue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Venue</th>
                <td mat-cell *matCellDef="let team">
                    {{ team.venue }}
                </td>
            </ng-container>
            <ng-container matColumnDef="website">
                <th mat-header-cell *matHeaderCellDef>Website</th>
                <td mat-cell *matCellDef="let team">
                    <div *ngIf="team.website">
                        <a mat-icon-button [href]="team.website" target="_blank" (click)="$event.stopPropagation()">
                            <mat-icon>open_in_new</mat-icon>
                        </a>
                    </div>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/dashboard/teams/detail', row.id]"></tr>
        </table>
        
    </mat-card-content>
    <mat-card-actions>
        <mat-paginator [pageSizeOptions]="[10,20]" showFirstLastButtons></mat-paginator>
    </mat-card-actions>
</mat-card>